@charset "UTF-8";
@use "./_variables" as *;
@import "./reset";

@font-face {
  font-family: "NanumSquare";
  src: url("/assets/fonts/NanumSquareL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/assets/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/assets/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/assets/fonts/NanumSquareEB.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "NanumSquare", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 744px) {
  .inner {
    padding: 0 24px;
  }
}

@media (max-width: 375px) {
  .inner {
    padding: 0 16px;
  }
}


header {
  display: flex;
  align-items: center;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid $color-slate-200;

  .logo {
    width: 150px;
    height: 40px;
    background: url("../../public/assets/images/logo.svg") no-repeat 0 / cover;
    
    @media (max-width: 375px) {
      width: 71px;
      background: url("../../public/assets/images/logo-m.svg") no-repeat 0 / cover;
    }
  }
}

button {
  &.btn-add {
    flex-shrink: 0;
    width: 168px;
    height: 56px;
    background: url("../../public/assets/images/btn-add-off.svg") no-repeat 0 / cover;

    &.on {
      background: url("../../public/assets/images/btn-add-on.svg") no-repeat 0 / cover;
    }
  }

  &.btn-submit {
    width: 168px;
    height: 56px;
    background: url("../../public/assets/images/btn-submit.svg") no-repeat 0 / cover;

    &.disabled {
      background: url("../../public/assets/images/btn-submit-disabled.svg") no-repeat 0 / cover;
    }
  }

  &.btn-delete {
    width: 168px;
    height: 56px;
    background: url("../../public/assets/images/btn-delete.svg") no-repeat 0 / cover;
  }

  @media (max-width: 744px) {
    &.btn-add {
      width: 162px;
      height: 56px;
      background-size: 100% 100%;
      &.on {
        background-size: 100% 100%;
      }
    }
    
    &.btn-submit {
      width: 162px;
      height: 56px;
      background-size: 100% 100%;
      &.disabled {
        background-size: 100% 100%;
      }
    }
    
    &.btn-delete {
      width: 162px;
      height: 56px;
      background-size: 100% 100%;
    }
  }

  @media (max-width: 375px) {
    &.btn-add {
      width: 56px;
      height: 56px;
      background-size: 100% 100%;
      background: url("../../public/assets/images/btn-add-off-mob.svg") no-repeat 0 / cover;
      &.on {
        background: url("../../public/assets/images/btn-add-on-mob.svg") no-repeat 0 / cover;
        background-size: 100% 100%;
      }
    }
    
    // &.btn-submit {
    //   width: 56px;
    //   height: 56px;
    //   background-size: 100% 100%;
    //   &.disabled {
    //     background-size: 100% 100%;
    //   }
    // }
    
    // &.btn-delete {
    //   width: 56px;
    //   height: 56px;
    //   background-size: 100% 100%;
    // }
  }
}

main {
  margin-top: 24px;

  .con {
    margin-top: 40px;
    display: flex;
    gap: 24px;

    .left-box {
      width: 50%;
    }

    .right-box {
      width: 50%;
    }

    .item-list-wrap {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &.checked {
        .item-list {
          background: $color-violet-100;
          border: 2px solid $color-slate-900;

          .info {
            h3 {
              text-decoration: line-through;
            }
          }
        }
      }

      .item-list {
        padding: 9px 12px;
        width: 100%;
        border-radius: 27px;
        background: #fff;
        border: 2px solid $color-slate-900;

        &+.item-list {
          margin-top: 16px;
        }

        .info {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 16px;

          h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    // 데이터 없을 때
    .no-data {
      margin-top: 64px;

      p {
        margin-top: 24px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: $color-slate-400;
      }
    }


  }

  @media (max-width: 744px) {
    .con {
      display: block;

      .left-box {
        width: 100%;
      }

      .right-box {
        margin-top: 48px;
        width: 100%;
      }
    }
  }

  // detail start ----------------

  .detail-wrap {
    padding: 0 102px;
    width: 100%;
    background: #fff;

    @media (max-width: 744px) {
      padding: 0;
    }
  }

  .check-box-wrap {
    gap: 16px;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid $color-slate-900;
    background: #fff;
    border-radius: 24px;

    &.checked {
      background: $color-violet-200;
    }
  }

  .check-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .check-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .custom-checkbox {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("/assets/images/img-check-off.svg");
    background-color: transparent;
  }

  .check-label input[type="checkbox"]:checked+.custom-checkbox {
    background: url("/assets/images/img-check-on.svg");
  }

  .name-label {
    input {
      text-decoration: underline;
    }
  }

}

.input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .enter-inp-wrap {
    position: relative;
    padding: 17px 24px;
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    color: $color-slate-500;
    border-radius: 24px;
    aspect-ratio: 125 / 7;
    background: url("../../public/assets/images/search.png") no-repeat 0 / cover;
    
    .enter-inp {
      width: 100%;
    }
  }
  
  @media (max-width: 744px) {
    gap: 16px;

    .enter-inp-wrap {
      width: calc(100% - 190px);
      background: url("../../public/assets/images/search.png") no-repeat 0 / cover;
    }
  }

  @media (max-width: 375) {
    gap: 16px;

    .enter-inp-wrap {
      width: calc(100% - 72px);
      background: url("../../public/assets/images/search.png") no-repeat 0 / cover;
    }
  }

}

.detail-con {
  margin-top: 24px;
  display: flex;
  gap: 24px;

  .file-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 311px;
    border-radius: 24px;
    overflow: hidden;

    &.no-data {
      border: 2px dashed $color-slate-300;

      .btn-file {
        background: url("../../public/assets/images/img-file-add.svg") no-repeat 0 / cover;
      }
    }

    .priview {}

    .btn-file {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 64px;
      height: 64px;
      background: url("../../public/assets/images/img-file-edit.svg") no-repeat 0 / cover;
    }
  }

  .memo-wrap {
    padding: 24px 16px;
    width: calc(100% - 384px);
    height: 311px;
    border-radius: 24px;
    background: url("../../public/assets/images/img-memo-bg.jpg") no-repeat 0 / cover;

    .title {
      text-align: center;
      font-weight: 800;
      font-size: 16px;
      color: $color-amber-800;
    }

    textarea {
      margin-top: 16px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: calc(100% - 24px);
      color: $color-slate-800;
      line-height: 100%;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-amber-200;
        border-radius: 3px;
      }
    }
  }

  @media (max-width: 744px) {
    display: block;

    .file-wrap {
      width: 100%;
    }    
    .memo-wrap {
      margin-top: 24px;
      width: 100%;
    }
  }
}

.btn-wrap {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  @media (max-width: 744px) {
    justify-content: center;
    
  }
}

